/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.smallImageWrapper {
    width: 200px;
    height: 200px;
}

.smallImage {
    min-width: 60px;
    max-width: 200px;
    min-height: 60px;
    max-height: 200px;
}

.smcx-embed {
    width: 480px !important;
    height: 300px !important;
}

.jumbotron h1, .jumbotron .h1 {
    text-align: center;
    font-size: 50px;
    font-weight: lighter;
}

.widgetShadow {
    box-shadow: 0 30px 0 #4e5d6c;
    display: inline-block;
}
footer {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#carousel {

    margin-bottom: 30px;
}
