@{
    ViewBag.Title = "Board of Directors";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-4">
        <img style="height: 300px; width: 300px;" src="~/Content/Images/Board of Directors.png" />
        <h2>President</h2>
        <p>Rick Hiles</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis magna justo,
            eget sodales massa egestas et. Ut fermentum urna pharetra nisi convallis dignissim.
            Fusce ut interdum sapien. Etiam eleifend consequat nisl eu pharetra. Maecenas sagittis,
            quam sit amet dictum gravida, ante arcu volutpat risus, quis egestas nulla lectus sit amet diam.
        </p>
        <p><a href="mailto:Rickhiles1@aol.com?Subject=KYHBPA&Body=Body" title="title">Email</a></p>
    </div>
    <div class="col-md-4">
        <img style="height: 300px; width: 300px;" src="~/Content/Images/Board of Directors.png" />
        <h2>Vice President</h2>
        <p>Frank Jones, Jr.</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis magna justo,
            eget sodales massa egestas et. Ut fermentum urna pharetra nisi convallis dignissim.
            Fusce ut interdum sapien. Etiam eleifend consequat nisl eu pharetra. Maecenas sagittis,
            quam sit amet dictum gravida, ante arcu volutpat risus, quis egestas nulla lectus sit amet diam.
        </p>
        <p><a href="mailto:jjohnson@recrenoics.com?Subject=KYHBPA&Body=Body" title="title">Email</a></p>
    </div>
    <div class="col-md-4">
        <img style="height: 300px; width: 300px;" src="~/Content/Images/Board of Directors.png" />
        <h2>Vice President</h2>
        <p>Dale Romans</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis magna justo,
            eget sodales massa egestas et. Ut fermentum urna pharetra nisi convallis dignissim.
            Fusce ut interdum sapien. Etiam eleifend consequat nisl eu pharetra. Maecenas sagittis,
            quam sit amet dictum gravida, ante arcu volutpat risus, quis egestas nulla lectus sit amet diam.
        </p>
        <p><a href="mailto:dalerracing@aol.com?Subject=KYHBPA&Body=Body" title="title">Email</a></p>
    </div>
    <div class="col-md-4">
        <img style="height: 300px; width: 300px;" src="~/Content/Images/Board of Directors.png" />
        <h2>Executive Director</h2>
        <p>Martin Maline</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis magna justo,
            eget sodales massa egestas et. Ut fermentum urna pharetra nisi convallis dignissim.
            Fusce ut interdum sapien. Etiam eleifend consequat nisl eu pharetra. Maecenas sagittis,
            quam sit amet dictum gravida, ante arcu volutpat risus, quis egestas nulla lectus sit amet diam.
        </p>
        <p><a href="mailto:kymarty@aol.com?Subject=KYHBPA&Body=Body" title="title">Email</a></p>
    </div>
    <div class="col-md-4">
        <img style="height: 300px; width: 300px;" src="~/Content/Images/Board of Directors.png" />
        <h2>Treasurer</h2>
        <p>John Griffith</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis magna justo,
            eget sodales massa egestas et. Ut fermentum urna pharetra nisi convallis dignissim.
            Fusce ut interdum sapien. Etiam eleifend consequat nisl eu pharetra. Maecenas sagittis,
            quam sit amet dictum gravida, ante arcu volutpat risus, quis egestas nulla lectus sit amet diam.
        </p>
        <p><a href="mailto:Margaritaville52@yahoo.com?Subject=KYHBPA&Body=Body" title="title">Email</a></p>
    </div>
    <div class="col-md-4">
        <img style="height: 300px; width: 300px;" src="~/Content/Images/Board of Directors.png" />
        <h2>Executive Assistant</h2>
        <p>Sara Toomey</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis magna justo,
            eget sodales massa egestas et. Ut fermentum urna pharetra nisi convallis dignissim.
            Fusce ut interdum sapien. Etiam eleifend consequat nisl eu pharetra. Maecenas sagittis,
            quam sit amet dictum gravida, ante arcu volutpat risus, quis egestas nulla lectus sit amet diam.
        </p>
        <p><a href="mailto:KentuckyHBPA@gmail.com?Subject=KYHBPA&Body=Body" title="title">Email</a></p>
    </div>
    <div class="col-md-4">
        <img style="height: 300px; width: 300px;" src="~/Content/Images/Board of Directors.png" />
        <h2>Owner Director</h2>
        <p>Mark C. Bacon</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis magna justo,
            eget sodales massa egestas et. Ut fermentum urna pharetra nisi convallis dignissim.
            Fusce ut interdum sapien. Etiam eleifend consequat nisl eu pharetra. Maecenas sagittis,
            quam sit amet dictum gravida, ante arcu volutpat risus, quis egestas nulla lectus sit amet diam.
        </p>
        <p><a href="mailto:Mark_Bacon@B-F.com?Subject=KYHBPA&Body=Body" title="title">Email</a></p>
    </div>
    <div class="col-md-4">
        <img style="height: 300px; width: 300px;" src="~/Content/Images/Board of Directors.png" />
        <h2>Owner Director</h2>
        <p>F. Thomas Conway</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis magna justo,
            eget sodales massa egestas et. Ut fermentum urna pharetra nisi convallis dignissim.
            Fusce ut interdum sapien. Etiam eleifend consequat nisl eu pharetra. Maecenas sagittis,
            quam sit amet dictum gravida, ante arcu volutpat risus, quis egestas nulla lectus sit amet diam.
        </p>
        <p><a href="mailto:FTConway@yahoo.com?Subject=KYHBPA&Body=Body" title="title">Email</a></p>
    </div>
    <div class="col-md-4">
        <img style="height: 300px; width: 300px;" src="~/Content/Images/Board of Directors.png" />
        <h2>Owner Director</h2>
        <p>Travis Foley Jr.</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis magna justo,
            eget sodales massa egestas et. Ut fermentum urna pharetra nisi convallis dignissim.
            Fusce ut interdum sapien. Etiam eleifend consequat nisl eu pharetra. Maecenas sagittis,
            quam sit amet dictum gravida, ante arcu volutpat risus, quis egestas nulla lectus sit amet diam.
        </p>
        <p><a href="mailto:G.Foley@gregfoleyracing.com?Subject=KYHBPA&Body=Body" title="title">Email</a></p>
    </div>
    <div class="col-md-4">
        <img style="height: 300px; width: 300px;" src="~/Content/Images/Board of Directors.png" />
        <h2>Trainer Director</h2>
        <p>William (Buff) Bradley</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis magna justo,
            eget sodales massa egestas et. Ut fermentum urna pharetra nisi convallis dignissim.
            Fusce ut interdum sapien. Etiam eleifend consequat nisl eu pharetra. Maecenas sagittis,
            quam sit amet dictum gravida, ante arcu volutpat risus, quis egestas nulla lectus sit amet diam.
        </p>
        <p><a href="mailto:buffracing@aol.com?Subject=KYHBPA&Body=Body" title="title">Email</a></p>
    </div>
    <div class="col-md-4">
        <img style="height: 300px; width: 300px;" src="~/Content/Images/Board of Directors.png" />
        <h2>Trainer Director</h2>
        <p>William R. Connelly</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis magna justo,
            eget sodales massa egestas et. Ut fermentum urna pharetra nisi convallis dignissim.
            Fusce ut interdum sapien. Etiam eleifend consequat nisl eu pharetra. Maecenas sagittis,
            quam sit amet dictum gravida, ante arcu volutpat risus, quis egestas nulla lectus sit amet diam.
        </p>
        <p><a href="mailto:BillConnelly1956@gmail.com?Subject=KYHBPA&Body=Body" title="title">Email</a></p>
    </div>
    <div class="col-md-4">
        <img style="height: 300px; width: 300px;" src="~/Content/Images/Board of Directors.png" />
        <h2>Trainer Director</h2>
        <p>John Hancock</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis magna justo,
            eget sodales massa egestas et. Ut fermentum urna pharetra nisi convallis dignissim.
            Fusce ut interdum sapien. Etiam eleifend consequat nisl eu pharetra. Maecenas sagittis,
            quam sit amet dictum gravida, ante arcu volutpat risus, quis egestas nulla lectus sit amet diam.
        </p>
        <p><a href="mailto:JADstables@hotmail.com?Subject=KYHBPA&Body=Body" title="title">Email</a></p>
    </div>
    <div class="col-md-4">
        <img style="height: 300px; width: 300px;" src="~/Content/Images/Board of Directors.png" />
        <h2>Trainer Director</h2>
        <p>Ken McPeek</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis magna justo,
            eget sodales massa egestas et. Ut fermentum urna pharetra nisi convallis dignissim.
            Fusce ut interdum sapien. Etiam eleifend consequat nisl eu pharetra. Maecenas sagittis,
            quam sit amet dictum gravida, ante arcu volutpat risus, quis egestas nulla lectus sit amet diam.
        </p>
        <p><a href="mailto:kenny@mcpeekracing.com?Subject=KYHBPA&Body=Body" title="title">Email</a></p>
    </div>
    <div class="col-md-4">
        <img style="height: 300px; width: 300px;" src="~/Content/Images/Board of Directors.png" />
        <h2>Trainer Director</h2>
        <p>R.C. Sturgeon</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis magna justo,
            eget sodales massa egestas et. Ut fermentum urna pharetra nisi convallis dignissim.
            Fusce ut interdum sapien. Etiam eleifend consequat nisl eu pharetra. Maecenas sagittis,
            quam sit amet dictum gravida, ante arcu volutpat risus, quis egestas nulla lectus sit amet diam.
        </p>
        <p><a href="mailto:bobbysturgeon@gmail.com?Subject=KYHBPA&Body=Body" title="title">Email</a></p>
    </div>


</div>