@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    Kentucky HBPA welcomes inquiries from our members and the general public on matters of
    concern to the Thoroughbred industry. Our contact information is listed below, or please
    use the form at the bottom of the page to send us your comments directly through this web
    site.
</p>

<address>
    Kentucky HBPA<br />
    3729 S. Fourth St. <br />
    Louisville, KY 40214-1712 <br />
    <strong>Email:</strong>   <a href="mailto:kentuckyhbpa@gmail.com">kentuckyhbpa@gmail.com</a>
</address>

<p>
    This office is open year round, Monday thru Friday from 8:30am to 4:00pm<br />
    <strong>Phone:</strong> 502-363-1077<br />
    <strong>Toll-Free:</strong> 800-928-4272<br />
    <strong>Fax:</strong> 502-367-6800
</p>
<br />
<div style="text-align:center"> <h4>Associated Entities</h4> </div>

<p>
    <strong>Churchill Downs Backside Office</strong><br />
    Open year round, Wednesday thru Sunday from 8:30am to 5:30pm<br />
    <strong>Phone:</strong> 502-637-7935<br />
    <strong>Fax:</strong> 502-637-7935<br />
</p>

<p>
    <strong>Trackside - Louisville</strong><br />
    Open year round, Tuesday thru Sunday from 9:30am to 1:30pm<br />
    <strong>Phone:</strong> 502-964-5361<br />
    <strong>Fax:</strong> 502-964-7967<br />
</p>

<p>
    <strong>The Thoroughbred Center - Lexington</strong><br />
    Open year round, Monday thru Friday from 9:00am to 1:00pm<br />
    <strong>Phone:</strong> 859-293-5672<br />
    <strong>Fax:</strong> 859-293-5672<br />
</p>
<br />
<div style="text-align:center">
    <h4>
        Visit our offices at all Kentucky tracks,
        open during each track's live racing meet!
    </h4>
</div>

<p>
    <strong>Ellis Park - Hendersen</strong><br />
    <strong>Phone:</strong> 812-435-8956 <br />
    <strong>Fax:</strong> 812-425-1659<br />
</p>

<p>
    <strong>Keeneland - Lexington</strong><br />
    <strong>Phone:</strong> 800-456-3412, ext.390<br />
    <strong>Fax:</strong> 812-425-1659<br />
</p>

<p>
    <strong>Turfway Park - Florence </strong><br />
    <strong>Phone:</strong> 800-733-0200<br />
    <strong>Fax:</strong> 859-371-4086<br />
</p>